<h2>Face Api Demo</h2>
<body>
<label>Upload Selfie or the passport size photo and video stream will automatically start:</label>
 <input #Image id="myFileUpload" type="file" (change)="handleFileInput($event.target.files)"/>
 <img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image">
    
<hr> 
<div>Video stream in the browser</div>   
<button type="button"id="videostart" style="display: none;" (click)="onStart()">Start video</button>
<video #video id="videoElement"> </video>

<img id="myImg" src="">

<hr>

<h4>RESULTS</h4>
<div class="loader" id="loader" style="display: none;"></div>
<div  id="resultsrecord" style="display: none;">
<div>Cropped photo matches with Selfie or not: {{imagemached}}</div> <br>
<div>Face Match score : {{matchscore}}</div><br> 
</div>
<div  id="undetectedimage" style="display: none;">
    <p>Unable to detect image in uploaded image.Kindly change the image </p>
</div>
<p>cropped Photo</p>
<!-- <video id="myvideo" #myVideo src="../assets/video.mp4" autoplay> </video> -->
</body>
